---
- hosts: webservers
  become: true
  become_method: sudo
  tasks:

    - name: ensure that apache is installed
      yum: name=httpd update_cache=yes  state=present

    - name: start apache services
      service: name=httpd enabled=yes state=started

    - name: ensure https mod_ssl is installed 
      yum: name=mod_ssl update_cache=yes  state=present

    - name: start apache services
      service: name=httpd enabled=yes state=restarted

    - name: copy site file over
      template: src=./index.html dest=/var/www/html/index.html

    - name: copy ssh private key to private subnet Instances 
      template: src=./id_rsa dest=~/.ssh
